<div class="row">
	<div class="col-md-12">
		<div class="table-responsive table-responsive-data2">
			<div class="modal-search" >
				<form>
					<div class="input-group no-border">
						<input type="text" value="" class="form-control" ng-model="product.links"
							placeholder="Search..." size="100">
						<div class="input-group-append">
							<div class="input-group-text">
								<button type="button" class="nc-icon nc-zoom-split"  ng-click="searchProducts(1)"></button>
							</div>
						</div>
					</div>
					
				</form>
			</div>
			<div>
				
			</div>
		</div>
	</div>
</div>
